{% extends 'adminbase.html.twig' %}

{% block title %}Edit Setting{% endblock %}

{% block body %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="card">
            <div class="card-body">

                <h1>Edit Setting</h1>

                {{ include('admin/setting/_form.html.twig', {'button_label': 'Update'}) }}

            </div>
        </div>
        {% endblock %}
